.container {
  display: grid;
  grid-template-rows: auto 1fr 40px;
  min-height: 100vh; /* 画面1ページ分 */
  padding: 10px;
  gap: 20px;
}

.main {
  padding-top: 60px; /* ヘッダー60px */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* レスポンシブ対応 TODO:暫定 */
@media (max-width: 768px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .main {
    grid-template-columns: 1fr;
  }
}
