/* ヘッダのスタイル */
/* ヘッダ部 上部で固定 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  gap: 15px;
  padding: 0 20px;
  background: var(--color-primary);
  z-index: 100;
}

.title {
  color: var(--color-title);
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.logo {
  height: 50px;
  width: auto;
  background: var(--color-background);
  border-radius: 5px;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7; /* 透明度 */
  }
}

.menu {
  display: flex;
  gap: 20px;
}

/* メニューリンクのスタイル設定 */
.menuLink {
  text-decoration: none;
  position: relative;  /* アンダーライン位置 */
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--color-accent);
    bottom: -1px;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;

  }
  &:hover::after {
    transform: scale(1,1);
  }

  &:active {
    color:var(--color-accent);
  }
}
